body { 
	background-color: #DBEF9E;
	padding: 0px 16px;
	margin: 0 auto;
	width: 900px;
	font-size: 16px;
}
h1, h2 {
	color: #009847;
	font-weight: normal;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 18px;
	border-style: solid;
	border-width: 2px;
	border-color: #F9A6B3;
	padding: 8px;
}
nav {
	float:left;
	width:200px;
	color:white;
	background-color: #00BC7B;
}

#content {
	margin-left:210px;
	padding: 12px;
	background-color: white;
	color: #666666;
}

#scroll-ui {
	position: fixed;
	height: 68;
	right: 34px;
	bottom: 68px;
}

#scroll-to-top {
	position: absolute;
	top: 0px;
}
#scroll-to-bottom {
	position: absolute;
	bottom:0px;
}

.scroll-button {
	color: #777;
	border: 1px solid #949494;
	background-color: #f8f8f8;
	text-align: center;
	line-height: 32px;
	width: 32px;
	height: 32px;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}

