body { 
	background-color: #DBEF9E;
	padding: 0px 16px;
	margin: 0 auto;
	width: 900px;
	font-size: 16px;
}
h1, h2 {
	color: #009847;
	font-weight: normal;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 18px;
	border-style: solid;
	border-width: 2px;
	border-color: #F9A6B3;
	padding: 8px;
}
nav {
	float:left;
	width:200px;
	color:white;
	background-color: #00BC7B;
}

#content {
	margin-left:210px;
	padding: 12px;
	background-color: white;
	color: #666666;
}
