body {
	font-size: small;
	font-family: arial,sans-serif;
}

#header {
	height: 59px;
	line-height: 54px;
	border-bottom: 1px solid #ebebeb;
	background-color: #fff;

	/* メニューをスライドさせるときにヘッダの下に隠したいので z-index を指定する */
	position: relative;
	z-index: 2;
}

/* トグルボタン */
.toggle-button {
	color: #777;
	border: 1px solid transparent;
	display: inline-block;
	min-width: 54px;
	text-align: center;
	border-radius: 2px;
	padding: 4px 8px;
	line-height: 19px;
	margin-left: 9px;
	cursor: pointer;
	margin-right: 24px;

	-webkit-user-select: none;
	-moz-user-select: none;
}

.toggle-button:hover {
	background-color: #f8f8f8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #c6c6c6;
}

.toggle-button-selected {
	background: -webkit-linear-gradient(top,#eee,#e0e0e0);
	-webkit-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
	border: 1px solid #d7d7d7;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
	margin-left: 9px;
}

.toggle-button:active {
	color: #000;
}

/* メニューと件数表示の親要素 */
#menu-container {
	position: relative;
	color: #777;
}

/* メニュー(初期状態で非表示) */
.menu {
	position: absolute;
	display: none;
	padding-top: 7px;

	top: -29px;
	transition: top 220ms ease-in-out;

	z-index: 1;
}

.menu-opened {
	top: 0px;
}

/* メニュー項目 */
.menu-item {
	display: inline-block;
	color: #777;
	position: relative;
	padding: 0px 16px 0px 16px;
	font-size: small;
	line-height: 22px;
	cursor: pointer;
}
.menu-item:hover {
	color: #222;
}

.menu-item-text {
	display: inline-block;
	padding-right: 6px;
}

/* 矢印 */
.down-arrow {
	display: inline-block;
	width: 0;
	height: 0;
	border-color: #909090 transparent;
	border-style: solid;
	border-width: 4px 4px 0px 4px;
	margin-left: -2px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	right: 10px;
}
.menu-item:hover .down-arrow {
	border-color: #222 transparent;
}

/* 件数表示 */
.results {
	position: absolute;
	line-height: 43px;
	margin-left: 16px;

	top: 0px;
	transition: top 220ms ease-in-out;
}

.results-closed {
	top: 22px;
}

